* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    background-color: black;
    color: white;
    font-size: clamp(0.7rem, 1rem, 1.3rem);
}

main {
    width: 100%;
}

#logo-header {
    width: 100px;
    display: inline-block;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2%;
    gap: 15%;
    z-index: 10;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-item {
    margin: 0 2%;
}

.nav-link {
    transition: 0.5s ease;
    width: 100%;
}

.nav-link:hover{
    color: #FFE184;
    font-weight: bold;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFE184;
}

.animation {
    width: 90vw;
    height: auto;
    background-image: url(./img/vishnu-mohanan-pfR18JNEMv8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2% auto;
}

.animation-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: brightness(100%);
}

.animation-logo-background {
    animation-name: logobackground;
    animation-duration:8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes logobackground {
    100% { backdrop-filter: brightness(15%);}
    }

.left {
transform: translateX(-300%);
-webkit-transform: translateX(-300%);
}

.lefttrigger {
animation-name: left;
animation-duration: 2.5s;
animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
animation-iteration-count:1;
animation-fill-mode: forwards;
}


@keyframes left {
100% { transform: translateX(0.25%);}
}

@-webkit-keyframes left {
    100% { transform: translateX(0.25%);}
    }

.right {
    transform: translateX(300%);
    -webkit-transform: translateX(300%);
}
        
.righttrigger {
    animation-name: right;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
        
@keyframes right {
    100% { transform: translateX(-0.25%);}
}
        
@-webkit-keyframes right {
    100% { transform: translateX(-0.25);}
}    

.left, .right {
    width: 20%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

.animation-text {
    width: 100%;
    text-align: center;
    backdrop-filter: brightness(100%);
}

.animation-text-trigger {
    animation-name: textbackground;
    animation-duration: 8s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes textbackground {
    100% {backdrop-filter: brightness(15%);}
    }

.text {
    width: 40%;
    opacity: 0;
    padding-bottom: 2%;
}

.texttrigger {
    animation-name: text;
    animation-duration:4s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes text {
    100% { opacity: 1}
    }

#top {
    display: none;
    position: fixed;
    bottom: 1%; 
    right: 1%; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: #9EFFE7;
    color: black;
    cursor: pointer;
    padding: 2%;
    border-radius: 50%; 
    font-size: 30px;
      }
      
#top:hover {
     background-color: #555;
     color: white;
}    

#hero-code {
    margin-top: 1%;
    width: 90vw;
    height: 70vh;
    background-image: url(./img/rupixen-com-komB8F93618-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position:relative;
}

#contact {
    background-color: #9EFFE7;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
}

h2 {
    color: #FFE184;
    text-align: center;
    margin-bottom: 2%;
}

h3 {
    margin: 3%;
    text-decoration: underline;
    text-align: center;
}


#about-me {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 5%;
}

#hero, #about-me-effect, #projects, #techstack {
    margin: 5% 2%;
}

#about-me-effect, #projects, #techstack {
    padding: 2%;
    border: 0px solid black;
    border-radius: 2%;
    transition: all 0.3s linear;
}

#about-me-effect:hover, #projects:hover, #techstack:hover {
    border: 2px solid #9EFFE7;
}

#photo {
    max-width: 500px;
    min-width: 300px;
    height: auto;
    border-radius: 5%;
    flex: 1 1 auto;
    padding: 1%;
}

#about-me p {
    flex: 1 0 70%;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(12,auto);
    column-gap: 2%;
    justify-items: center;
    align-items: center;
}

#projects h2 {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

#personal-heading {
    grid-column: 1 / span 3;
    grid-row: 2 / 3;
}

#screenshot-personal {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    max-width: 400px;
}

#personal-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#personal-technologies {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.logos {
    width: 100%;
    padding: 1%;
    text-align: center;
}

.logos img {
    max-width: 70px;
}

#spa {
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
}

#screenshot-spa {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#spa-text {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#spa-logos {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}


#techstack p, figcaption, figure {
    text-align: center;
}

#tech-container {
    margin: 2% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure {
    flex: 1 0 10%;
}

#quoteblock {
    width: 100%;
    text-align: center;
}

#quote {
    font-size: 3rem;
    padding: 5%;
}

span {
    border-right: .05em solid;
    animation: typing 1s steps(1) infinite;
  }
  
  @keyframes typing {
    50% {
      border-color: transparent;
    }
  }

@media (max-width:768px){
    .hamburger{
        display: block;
    }
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }   
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 5;
        padding-bottom: 20px;
    }
    .nav-item {
        margin: 16px;
    }
    .nav-menu.active {
        left: 0;
    }

    .navbar {
        gap: 70%;
    }

    #logo-header {
        width: 60px;
    }

    #about-me {
        display: inline;
        width: 90%;
    }

    #photo {
        width: 60%;
        margin: 0 auto;
        display: block;
    }

    #about-me p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        flex:none;
    }
    
}

@media (max-width:802px) {
    #projects {
        display: block;
        text-align: center;
    }
    #projects p {
        text-align: center;
        margin: 2%;
    }
}